/*
 █████  ██████  ███    ███ ██ ███    ██      ██████  ██████  ███    ██ ████████ ██████   ██████  ██      ███████ 
██   ██ ██   ██ ████  ████ ██ ████   ██     ██      ██    ██ ████   ██    ██    ██   ██ ██    ██ ██      ██      
███████ ██   ██ ██ ████ ██ ██ ██ ██  ██     ██      ██    ██ ██ ██  ██    ██    ██████  ██    ██ ██      ███████ 
██   ██ ██   ██ ██  ██  ██ ██ ██  ██ ██     ██      ██    ██ ██  ██ ██    ██    ██   ██ ██    ██ ██           ██ 
██   ██ ██████  ██      ██ ██ ██   ████      ██████  ██████  ██   ████    ██    ██   ██  ██████  ███████ ███████ 
*/

body{
    background-image: linear-gradient(to right bottom, #00e9ff, #00c2ff, #0096ff, #0064fd, #1815d0);
}

.container {
    width: 100%;
}

main .adminSection{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

main .container{
    text-align: center;
}

main .container h1{
    padding:20px;
}

main section .container .adminPanel {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(95, 95, 95, 1);
    height: 450px;
    width: 450px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    padding: 25px 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

main section .container .adminPanel .match-selector{
    grid-column: 1/4;
    grid-row: 1/2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat';
    margin-top:auto;
    margin-bottom: auto;
}

main section .container .adminPanel #redTeam1{
    grid-row: 2/3;
    grid-column: 1/2;
    color: red;
}

main section .container .adminPanel #redTeam2{
    grid-row: 3/4;
    grid-column: 1/2;
    color: red;
}

main section .container .adminPanel #redTeam3{
    grid-row: 4/5;
    grid-column: 1/2;
    color: red;
}

main section .container .adminPanel #blueTeam1{
    grid-row: 2/3;
    grid-column: 2/3;
    color: blue;
}

main section .container .adminPanel #blueTeam2{
    grid-row: 3/4;
    grid-column: 2/3;
    color: blue;
}

main section .container .adminPanel #blueTeam3{
    grid-row: 4/5;
    grid-column: 2/3;
    color: blue;
}


main section .container .submitPanel button{
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 400; 
    padding:20px;
    border: 0;
    background-color: rgba(28, 157, 218, 1);
    border-radius: 4px;
    color: #fff;
}

main section .container .scout-match button:hover {
    background-color: #4C73D8;
    color: #fff;
}


/*================================================Loading bar/*================================================*/

.loginWarn .container {
    background-color: rgba(66, 250, 241, 0.842);
    display: inline-block;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width:100vw;
    text-align: center;
    padding: 10px 0px;
}

.loginWarn .container h1{
    padding:5px;
    font-size:18px;
    font-weight: 400;
}


#toHide{
    display: none;
}

/*
████████  █████  ██████  ██      ███████ ████████     ███████ ██ ███████ ███████ 
   ██    ██   ██ ██   ██ ██      ██         ██        ██      ██    ███  ██      
   ██    ███████ ██████  ██      █████      ██        ███████ ██   ███   █████   
   ██    ██   ██ ██   ██ ██      ██         ██             ██ ██  ███    ██      
   ██    ██   ██ ██████  ███████ ███████    ██        ███████ ██ ███████ ███████
*/

@media all and (min-width: 500px) {

}

/*
██████  ███████ ███████ ██   ██ ████████  ██████  ██████      ███████ ██ ███████ ███████ 
██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██     ██      ██    ███  ██      
██   ██ █████   ███████ █████      ██    ██    ██ ██████      ███████ ██   ███   █████   
██   ██ ██           ██ ██  ██     ██    ██    ██ ██               ██ ██  ███    ██      
██████  ███████ ███████ ██   ██    ██     ██████  ██          ███████ ██ ███████ ███████ 
*/

@media all and (min-width: 850px) {

}

/*
██    ██ ██      ████████ ██████   █████  ██     ██ ██ ██████  ███████ 
██    ██ ██         ██    ██   ██ ██   ██ ██     ██ ██ ██   ██ ██      
██    ██ ██         ██    ██████  ███████ ██  █  ██ ██ ██   ██ █████   
██    ██ ██         ██    ██   ██ ██   ██ ██ ███ ██ ██ ██   ██ ██      
 ██████  ███████    ██    ██   ██ ██   ██  ███ ███  ██ ██████  ███████ 
*/

@media all and (min-width: 1250px) {

}