
body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.bodyWrapper{
    overflow-x: hidden;
}

hr{
    border:1px solid black;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*
 █████  ██████  ███    ███ ██ ███    ██     ██     ██  █████  ██████  ███    ██ 
██   ██ ██   ██ ████  ████ ██ ████   ██     ██     ██ ██   ██ ██   ██ ████   ██ 
███████ ██   ██ ██ ████ ██ ██ ██ ██  ██     ██  █  ██ ███████ ██████  ██ ██  ██ 
██   ██ ██   ██ ██  ██  ██ ██ ██  ██ ██     ██ ███ ██ ██   ██ ██   ██ ██  ██ ██ 
██   ██ ██████  ██      ██ ██ ██   ████      ███ ███  ██   ██ ██   ██ ██   ████ 
*/

.loginWarn .container {
    background-color: rgb( 255, 199, 94, 1);
    display: inline-block;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width:100vw;
    text-align: center;
    padding: 10px 0px;
}

.loginWarn .container h1{
    padding:5px;
    font-size:20px;
    font-weight: 400;
}

/*
██ ███    ██ ███████  ██████      ██     ██ ██   ██ ███████ ███████ ██      
██ ████   ██ ██      ██    ██     ██     ██ ██   ██ ██      ██      ██      
██ ██ ██  ██ █████   ██    ██     ██  █  ██ ███████ █████   █████   ██      
██ ██  ██ ██ ██      ██    ██     ██ ███ ██ ██   ██ ██      ██      ██      
██ ██   ████ ██       ██████       ███ ███  ██   ██ ███████ ███████ ███████ 
*/

main .infoWheel .container{
    display: inline-block;
    padding-top: 130px;
    width: 40000vw;
}

main .infoWheel .container .desktopArrows{
    display: none;
}

main .infoWheel .container header{
    display: grid;
    text-align: center;
    position: relative;
    width:100vw;
    z-index: 1;
}

main .infoWheel .container .innerdata h1{
    padding:10px;
}

main .infoWheel .container p{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin:0;
    width: auto;
    cursor: pointer;
}

main .infoWheel .container header p:nth-of-type(1){
    grid-column: 1/2;
}

main .infoWheel .container header p:nth-of-type(2){
    grid-column: 2/3;
    width: 20vw;
    margin-left:auto;
    margin-right: auto;

}

main .infoWheel .container p:nth-of-type(3){
    grid-column: 3/4;
}

main .infoWheel .container .dataTable{
    margin:5vw 10vw;
    padding:50px;
    width:80vw;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    box-shadow:
  0.9px 0.9px 3.6px rgba(0, 0, 0, 0.37),
  3.6px 3.6px 7.9px rgba(0, 0, 0, 0.281),
  9.2px 9.1px 13.4px rgba(0, 0, 0, 0.237),
  19.8px 19.6px 21.7px rgba(0, 0, 0, 0.202),
  41.2px 40.8px 38.7px rgba(0, 0, 0, 0.166),
  101px 100px 105px rgba(0, 0, 0, 0.117)
;

}

main .infoWheel .container .dataTable:nth-of-type(1){
    background-color: rgb(231, 231, 231);
    transform: perspective(1000px) translate3d(0vw, 0vw, 0px);
}

main .infoWheel .container .dataTable:nth-of-type(2){
    background-color: rgba(231, 231, 231, 0.5);
    transform: perspective(1000px) translate3d(-24vw, 0vw, -70px);
}

main .infoWheel .container .dataTable:nth-of-type(3){
    background-color: rgba(231, 231, 231, 0.5);
    transform: perspective(1000px) translate3d(-25vw, 0vw, -70px);
}

main .infoWheel .container .dataTable:nth-of-type(4){
    background-color: rgba(231, 231, 231, 0.5);
    transform: perspective(1000px) translate3d(-30vw, 0vw, -70px);
}

main .infoWheel .container .dataTable{
    transition: transform 0.4s;
}


main .infoWheel .container .dataTable .innerData{
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: auto;
}

main .infoWheel .container .dataTable .innerData h1{
    display: none;
}

main .infoWheel .container .dataTable .innerData #t1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

main .infoWheel .container .dataTable .innerData #t2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

main .infoWheel .container .dataTable .innerData #d1{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

main .infoWheel .container .dataTable .innerData .dataCell{
    text-align: center;
}

/*
██ ███    ██ ███████ ██  ██████  ██   ██ ████████ ███████ 
██ ████   ██ ██      ██ ██       ██   ██    ██    ██      
██ ██ ██  ██ ███████ ██ ██   ███ ███████    ██    ███████ 
██ ██  ██ ██      ██ ██ ██    ██ ██   ██    ██         ██ 
██ ██   ████ ███████ ██  ██████  ██   ██    ██    ███████ 
*/

main .teamSelectDiv{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 42px;
    background-color: white;
    padding:10px;
    border-radius:15px;
}

main .teamSelectDiv .teamSelect{
    border-radius: 15px;
    font-size: 42px;
}

main .teamInsights .container{
    text-align: center;
    padding-bottom:40px;
    width: 400px;
    margin-left:auto; 
    margin-right: auto;
}

main .teamInsights .container h1{
    font-size: 28px;
    padding: 25px 0px 10px 0px;
}

main .teamInsights .container p{
    padding-bottom: 10px;
}

main .teamInsights .quickLook{
    font-size: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding:25px;
    background-color: #0096ec;
    display: grid;
    border-radius: 15px;
    box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.83);
}

/*  
 ██████  ██████   █████  ██████  ██   ██ 
██       ██   ██ ██   ██ ██   ██ ██   ██ 
██   ███ ██████  ███████ ██████  ███████ 
██    ██ ██   ██ ██   ██ ██      ██   ██ 
 ██████  ██   ██ ██   ██ ██      ██   ██ 
*/

main .graphs #blur.container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(0px);
}

main .graphs{
    margin:20px 20px 20px 20px;
}

main .graphs .container{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 75vw;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px
}

main .graphs .container canvas{
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    max-width: 800px;
}

main .graphs .container p{
    display: inline-block;
    cursor: pointer;
    font-size: 28px;
    padding:0px 30px;
}

main .graphs .container p:nth-of-type(1){
    float: left;
}

main .graphs .container p:nth-of-type(2){
    float: right;
}


main .graphs .container h3{
    padding: 10px;
}

main .graphs .container #selectors{
    display: inline-block;
    width: fit-content;
}

main .graphs .container select{
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 12px;
}

/*
██████  ██ ████████     ███████  ██████  ██████  ██    ██ ████████     ██████   █████  ████████  █████  
██   ██ ██    ██        ██      ██      ██    ██ ██    ██    ██        ██   ██ ██   ██    ██    ██   ██ 
██████  ██    ██        ███████ ██      ██    ██ ██    ██    ██        ██   ██ ███████    ██    ███████ 
██      ██    ██             ██ ██      ██    ██ ██    ██    ██        ██   ██ ██   ██    ██    ██   ██ 
██      ██    ██        ███████  ██████  ██████   ██████     ██        ██████  ██   ██    ██    ██   ██ 
*/

main .pitData .container{
    text-align: center;
    padding: 30px 0px;
    width: 400px;
    margin-left:auto; 
    margin-right: auto;
}

main .pitData .container h1{
    font-size:28px;
    padding-bottom: 1px;
}

main .pitData .container .pitScoutData{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0096ec;
    box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.83);
    border-radius: 15px;
    width:320px;
    padding:25px;
}

main .pitData .container .pitScoutData .pitTable.noData {
    display: none;
}

main .pitData .container .pitScoutData .noDataMessage {
    display: none;
}

main .pitData .container .pitScoutData .noDataMessage.noData {
    display: inline;
}

/*
██   ██ ███████  █████  ████████ ███    ███  █████  ██████  
██   ██ ██      ██   ██    ██    ████  ████ ██   ██ ██   ██ 
███████ █████   ███████    ██    ██ ████ ██ ███████ ██████  
██   ██ ██      ██   ██    ██    ██  ██  ██ ██   ██ ██      
██   ██ ███████ ██   ██    ██    ██      ██ ██   ██ ██   
*/

main .heatmap .container{
    width: fit-content;
    text-align: center;
    padding: 30px 0px;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
}

main .heatmap .container img{
    box-shadow:
  4.8px 5.2px 3.6px rgba(0, 0, 0, 0.07),
  12.2px 13px 9.1px rgba(0, 0, 0, 0.048),
  24.8px 26.6px 18.6px rgba(0, 0, 0, 0.039),
  51.1px 54.8px 38.3px rgba(0, 0, 0, 0.031),
  140px 150px 105px rgba(0, 0, 0, 0.022);
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 0px 15px 15px 15px;
}

main .heatmap .container #fieldHeatMap{
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    height: 227px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

main .heatmap .container .heatmap-canvas:first-of-type{
    filter: hue-rotate(90deg);
}

main .heatmap .container #tarmacHeatMap{
    height:405px;
}

main .heatmap .container #tarmacHeatMap{
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: none;
}

main .heatmap .container #fieldIMG{
    display: block;
    width: 425px;
    grid-row: 1 / 2;
}

main .heatmap .container #tarmacIMG{
    display:none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    width: 425px;
}

main .heatmap .container h1{
    font-size: 28px;
    padding: 10px 40px 10px 40px;
    background-color: rgba(143, 143, 143, 0.418);
    color:rgba(0, 0, 0, 0.418);
}

main .heatmap .container .is-selected{
    background-color: white;
    color: black;
}

main .heatmap .container #fullField{
    grid-column: 1 / 2;
    border-radius:20px 20px 0px 0px;
}
main .heatmap .container #tarmac{
    grid-column: 2 / 3;
    border-radius:20px 20px 0px 0px;
}

main .heatmap .container .checkBoxesDiv{
    grid-row: 2 / 3; 
    grid-column: 1 / 5;
}

main .heatmap .container .toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
  }
  
  main .heatmap .container .toggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  main .heatmap .container .toggle:checked {
    background-color: #4CD964;
  }
  
  main .heatmap .container .toggle:checked:before {
    left: 32px;
  }


#desktopHR{
    display: none;
}




/*
██████   █████  ██     ██     ██████   █████  ████████  █████  
██   ██ ██   ██ ██     ██     ██   ██ ██   ██    ██    ██   ██ 
██████  ███████ ██  █  ██     ██   ██ ███████    ██    ███████ 
██   ██ ██   ██ ██ ███ ██     ██   ██ ██   ██    ██    ██   ██ 
██   ██ ██   ██  ███ ███      ██████  ██   ██    ██    ██   ██ 
*/

main .rawData .container{
    text-align: center;
    margin:50px 0px 50px;
}

main .rawData .container h1{
    font-size: 28px;
    margin-bottom: 16px;
}

main .rawData .container .theData{
    padding:30px 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background-color: #0096ec;
    border-radius: 15px;
    box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.83);
    width: 320px;
}

main .rawData .container .theData p {
    padding-bottom: 10px;
}

/*
████████ ██████   █████      ██████   █████  ████████  █████  
   ██    ██   ██ ██   ██     ██   ██ ██   ██    ██    ██   ██ 
   ██    ██████  ███████     ██   ██ ███████    ██    ███████ 
   ██    ██   ██ ██   ██     ██   ██ ██   ██    ██    ██   ██ 
   ██    ██████  ██   ██     ██████  ██   ██    ██    ██   ██
*/

main .TBAData .container{
    text-align: center;
    margin: 50px 0px 200px;
}

main .TBAData .container h1{
    font-size: 28px;
    margin-bottom: 16px;
}

main .TBAData .container .teamSelect{
    font-size: 18px;
}

main .TBAData .container .teamsSchedule{
    padding: 40px 50px;
    margin: 40px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    border-radius: 15px;
    background-color: rgb(117, 216, 255);
    box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.83);
    width: fit-content;
}

main .TBAData .container table{
    margin-left: auto;
    margin-right: auto;
}

main .TBAData .container td{
    padding: 15px 5px;
}

main .TBAData .container .teamsSchedule #red{
    color: red;
}

main .TBAData .container .teamsSchedule #blue{
    color: blue;
}

main .pullMaster{
    text-align: center;
}

main #pullMasterButton{
    display: none;
    font-size: 32px;
    margin:50px auto 300px auto;
}

/*
████████  █████  ██████  ██      ███████ ████████     ███████ ██ ███████ ███████ 
   ██    ██   ██ ██   ██ ██      ██         ██        ██      ██    ███  ██      
   ██    ███████ ██████  ██      █████      ██        ███████ ██   ███   █████   
   ██    ██   ██ ██   ██ ██      ██         ██             ██ ██  ███    ██      
   ██    ██   ██ ██████  ███████ ███████    ██        ███████ ██ ███████ ███████
*/

@media all and (min-width: 900px) {

    /* 
    ██████   █████  ████████  █████      ██     ██ ██   ██ ███████ ███████ ██          ████████  █████  ██████  ██      ███████ ████████ 
    ██   ██ ██   ██    ██    ██   ██     ██     ██ ██   ██ ██      ██      ██             ██    ██   ██ ██   ██ ██      ██         ██    
    ██   ██ ███████    ██    ███████     ██  █  ██ ███████ █████   █████   ██             ██    ███████ ██████  ██      █████      ██    
    ██   ██ ██   ██    ██    ██   ██     ██ ███ ██ ██   ██ ██      ██      ██             ██    ██   ██ ██   ██ ██      ██         ██    
    ██████  ██   ██    ██    ██   ██      ███ ███  ██   ██ ███████ ███████ ███████        ██    ██   ██ ██████  ███████ ███████    ██   
    */

    main .infoWheel .container .dataTable .innerData p{
        font-size: 32px;
    }

    /*
    ████████  █████  ██████  ██      ███████ ████████     ██████   █████  ████████  █████  
       ██    ██   ██ ██   ██ ██      ██         ██        ██   ██ ██   ██    ██    ██   ██ 
       ██    ███████ ██████  ██      █████      ██        ██   ██ ███████    ██    ███████ 
       ██    ██   ██ ██   ██ ██      ██         ██        ██   ██ ██   ██    ██    ██   ██ 
       ██    ██   ██ ██████  ███████ ███████    ██        ██████  ██   ██    ██    ██   ██ 
    */ 

    main .teamSelectDiv{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    main .teamInsights{
        display: inline-block;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    main .graphs{
        display: inline-block;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 350px;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
        margin-top:55px;
        box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.042),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.028),
        100px 100px 80px rgba(0, 0, 0, 0.02);
    }

    main .graphs .container{
        width: 350px;
    }

    main .pitData{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    main .heatmap{
        display: inline-block;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    main .heatmap .container #fieldHeatMap{
        height: 188px;
    }

    main .heatmap .container #tarmacHeatMap{
        height: 250px;
    }

    main .heatmap .container{
        margin-top:20px;
        width: 350px;
    }

    main .heatmap .container #fieldIMG{
        width: 350px;
    }
    
    main .heatmap .container #tarmacIMG{
        height: 250px;
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    main .desktopData{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        background-color: #ececec;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        margin-top:20px;
        margin-bottom:20px;
    }

    #mobileHR{
        display: none;
    }

    #desktopHR{
        display: block;
    }

    /* 
    ████████ ██████   █████      ██████   █████  ████████  █████      ████████  █████  ██████  ██      ███████ ████████ 
       ██    ██   ██ ██   ██     ██   ██ ██   ██    ██    ██   ██        ██    ██   ██ ██   ██ ██      ██         ██    
       ██    ██████  ███████     ██   ██ ███████    ██    ███████        ██    ███████ ██████  ██      █████      ██    
       ██    ██   ██ ██   ██     ██   ██ ██   ██    ██    ██   ██        ██    ██   ██ ██   ██ ██      ██         ██    
       ██    ██████  ██   ██     ██████  ██   ██    ██    ██   ██        ██    ██   ██ ██████  ███████ ███████    ██  
    */

    main .TBAData .container .teamsSchedule{
        font-size: 24px;
    }

    main .TBAData .container .teamSelect{
        font-size: 22px;
    }

}

/*
██████  ███████ ███████ ██   ██ ████████  ██████  ██████      ███████ ██ ███████ ███████ 
██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██     ██      ██    ███  ██      
██   ██ █████   ███████ █████      ██    ██    ██ ██████      ███████ ██   ███   █████   
██   ██ ██           ██ ██  ██     ██    ██    ██ ██               ██ ██  ███    ██      
██████  ███████ ███████ ██   ██    ██     ██████  ██          ███████ ██ ███████ ███████ 
*/

@media all and (min-width: 1250px){

    main .graphs{
        width: 550px;
        margin-top:20px;
    }

    main .graphs .container{
        width: 550px;
    }

    main .heatmap .container{
        width: 550px;
    }

    main .heatmap .container #fieldHeatMap{
        height: 282px;
    }

    main .heatmap .container #tarmacHeatMap{
        height: 290px;
    }

    main .heatmap .container #fieldIMG{
        width: 550px;
    }
    
    main .heatmap .container #tarmacIMG{
        display: none;
        height: 290px;
        width: auto;
        padding-left: 150px;
        padding-right: 150px;
    }

    /*
    ██████  ███████ ███████ ██   ██ ████████  ██████  ██████      ██████   █████  ████████  █████  
    ██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██     ██   ██ ██   ██    ██    ██   ██ 
    ██   ██ █████   ███████ █████      ██    ██    ██ ██████      ██   ██ ███████    ██    ███████ 
    ██   ██ ██           ██ ██  ██     ██    ██    ██ ██          ██   ██ ██   ██    ██    ██   ██ 
    ██████  ███████ ███████ ██   ██    ██     ██████  ██          ██████  ██   ██    ██    ██   ██ 
    */

    main .infoWheel .container .dataTable .innerData p{
        font-size: 24px;
    }

    main .infoWheel .container .dataTable .innerData{
        grid-template-columns: 50% 50%;
    }

    main .infoWheel .container .dataTable .innerData h1{
        text-align: center;
        display: block;
        grid-row: 1/2;
        grid-column: 1/3;
        transform: translate(0px, -35px);
    }

    main .infoWheel .container header{
        display: none;
    }

    main .infoWheel .container .desktopArrows{
        display: block;
        position: absolute;
        transform: translate(14vw, 175px);
        z-index: 100;
    }

    main .infoWheel .container .desktopArrows p{
        font-size: 100px;
        color:rgba(100, 102, 100, 0.568);
    }

    main .infoWheel .container .desktopArrows #right{
        transform: translate(62vw);
    }

    main .infoWheel .container .dataTable{
        margin: 5vw 35vw;
        padding:50px;
        width:30vw;
        display: inline-block;
    }

    main .infoWheel .container .dataTable:nth-of-type(1){
        background-color: rgb(231, 231, 231);
        transform: perspective(1000px) translate3d(0vw, 0vw, 0px);
    }
    
    main .infoWheel .container .dataTable:nth-of-type(2){
        background-color: rgba(231, 231, 231, 0.5);
        color: rgba(0,0,0,0.7);
        transform: perspective(1000px) translate3d(-75vw, -3.5vw, -100px);
    }
    
    main .infoWheel .container .dataTable:nth-of-type(3){
        background-color: rgba(231, 231, 231, 0.5);
        color: rgba(0,0,0,0.7);
        transform: perspective(1000px) translate3d(-140vw, -3.5vw, -100px);
    }

    main .infoWheel .container .dataTable:nth-of-type(4){
        background-color: rgba(231, 231, 231, 0.5);
        color: rgba(0,0,0,0.7);
        transform: perspective(1000px) translate3d(-172vw, -3.5vw, -100px);
    }

    /*
    ████████ ██████   █████      ██████   █████  ████████  █████      ██████  ███████ ███████ ██   ██ ████████  ██████  ██████  
       ██    ██   ██ ██   ██     ██   ██ ██   ██    ██    ██   ██     ██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██ 
       ██    ██████  ███████     ██   ██ ███████    ██    ███████     ██   ██ █████   ███████ █████      ██    ██    ██ ██████  
       ██    ██   ██ ██   ██     ██   ██ ██   ██    ██    ██   ██     ██   ██ ██           ██ ██  ██     ██    ██    ██ ██      
       ██    ██████  ██   ██     ██████  ██   ██    ██    ██   ██     ██████  ███████ ███████ ██   ██    ██     ██████  ██    
    */

    main .TBAData .container .teamsSchedule{
        font-size: 28px;
    }

    main .TBAData .container .teamSelect{
        font-size: 28px;
    }

}