* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
    cursor: url(../pics/cursorSmall.png), auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color:white;
}

.menu .logo{
    font-size: 36px;
    font-weight: 700;
    padding-top: 9px;
    padding-left: 25px;
    padding-bottom: 12px;
}

.menu .item {
    margin-left: 65%;
    width: 35%;
    padding: 15px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.384);
}


.hero {
    background-image: url(../pics/heroImage.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header {
    height: 65px;
    overflow-y: hidden;
    background-color: rgba(128, 128, 128, 0.384);
}

header h1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
    padding-top: 9px;
    padding-left: 25px;
    display: inline-block;
}

header img {
    height: 50px;
    width: auto;
    padding-top: 12px;
    padding-right: 25px;
    float: right;
}

@media all and (min-width: 800px) {
    .dropdown {
        display: none;
    }

    .menu {
        flex-direction:column ;
    }
    
    .menu .item{
        margin: 0;
        width: auto;
        background-color: rgba(255, 0, 0, 0);
    }

}