* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    z-index: 100;
}

header .container {
    padding: 32px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}

header .container h2 {
    color: inherit;
    font-size: 32px;
    font-weight: 900;
}

header .container nav {
    display: none;
}

.dropdown {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.dropdown .bars, .dropdown::before, .dropdown::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: all 0.4s ease 0s;
}

.dropdown.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.dropdown.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.dropdown.is-active .bars {
    opacity: 0;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: rgba(168, 168, 168, 0.267);
    padding: 100px 0px 0px 0px;
    transition: all 0.4s ease 0s;
}

.nav-mobile a {
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0px auto 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: rgba(28, 157, 218, 1);
    text-decoration: none;
    color: #fff;
}

.nav-mobile .login {
    background-color: rgba(111, 111, 111, 0);
}

.nav-mobile.is-active {
    left: 0;
}

.hero {
    background-image: url(../pics/heroImage.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero .container {
    padding: 0px 30px;
    position: relative;
    width: 100%;
    
}

.nav-login-bars .login {
    display: none;
    float: left;
    padding: 8px 20px 0px 0px;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

.nav-mobile .login-mobile {
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0px auto 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: rgba(111, 111, 111, 0);
    text-decoration: none;
    color: #fff;
}

@media all and (min-width: 500px) {
    .nav-mobile .login-mobile {
        display: none;
    }

    .nav-login-bars .login {
        display: block;
    }
}

@media all and (min-width: 850px) {
    header .container .nav-login-bars nav {
        display: block;
        float: left;
        padding: 8px 5px 0px 0px;
        font-size: 18px;
        font-weight: 900;
    }

    .nav-login-bars nav a {
        text-decoration: none;
        color: #fff;
        padding: 0px 10px 0px 0px;
    }

    .nav-login-bars .login {
        display: block;
        float: right;
        padding: 8px 0px 0px 0px;
        color: inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: 900;
    }

    .dropdown {
        display: none;
    }
}