/*
 ██████  ██       ██████  ██████   █████  ██      ███████ 
██       ██      ██    ██ ██   ██ ██   ██ ██      ██      
██   ███ ██      ██    ██ ██████  ███████ ██      ███████ 
██    ██ ██      ██    ██ ██   ██ ██   ██ ██           ██ 
 ██████  ███████  ██████  ██████  ██   ██ ███████ ███████
*/ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(168, 168, 168, 0.267);
    transition: all 0.4s ease 0s;
}

.navbar.is-active {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: rgba(168, 168, 168, 0);
}

header .container {
    padding: 32px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}

header .container h2 {
    color: inherit;
    font-size: 32px;
    font-weight: 400;
    cursor:pointer;
}

header .container nav {
    display: none;
}

/*
███    ██  █████  ██    ██     ███    ███  ██████  ██████  ██ ██      ███████ 
████   ██ ██   ██ ██    ██     ████  ████ ██    ██ ██   ██ ██ ██      ██      
██ ██  ██ ███████ ██    ██     ██ ████ ██ ██    ██ ██████  ██ ██      █████   
██  ██ ██ ██   ██  ██  ██      ██  ██  ██ ██    ██ ██   ██ ██ ██      ██      
██   ████ ██   ██   ████       ██      ██  ██████  ██████  ██ ███████ ███████ 
*/

.dropdown {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.dropdown .bars, .dropdown::before, .dropdown::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: all 0.4s ease 0s;
}

.dropdown.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.dropdown.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.dropdown.is-active .bars {
    opacity: 0;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 99;
    background-color: rgba(168, 168, 168, 0.267);
    padding: 100px 0px 0px 0px;
    transition: all 0.4s ease 0s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.nav-mobile a {
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0px auto 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: rgba(28, 157, 218, 1);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-mobile .login {
    background-color: rgba(111, 111, 111, 0);
}

.nav-mobile.is-active {
    left: 0;
}

.nav-login-bars .login {
    float: left;
    padding: 8px 20px 0px 0px;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.nav-mobile .login-mobile {
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0px auto 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: rgba(111, 111, 111, 0);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container {
    width: 100%;
}

/*
██       ██████   ██████  ██ ███    ██     ██████   ██████  ██   ██ 
██      ██    ██ ██       ██ ████   ██     ██   ██ ██    ██  ██ ██  
██      ██    ██ ██   ███ ██ ██ ██  ██     ██████  ██    ██   ███   
██      ██    ██ ██    ██ ██ ██  ██ ██     ██   ██ ██    ██  ██ ██  
███████  ██████   ██████  ██ ██   ████     ██████   ██████  ██   ██
*/

main .login .container{
    margin-top:130px;
    text-align: center;
    width:450px;
    border-radius: 15px;
    background-color: rgba(61, 90, 250, 0.562);
    margin-right: auto;
    margin-left: auto;
}

main .login .container h1{
    font-size: 48px;
    padding:22px;
}

main .login .container label{
    font-size: 24px;
    margin-right: 8px;
}

main .login .container p{
    font-size: 12px;
    padding: 10px;
}

main .login .container button{
    width: 130px;
    height: 60px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    background-color: rgba(28, 157, 218, 1);
    border: none;
    margin: 25px;
}

main .login .container input{
    font-size: 24px;
}

main .login .container ul{
    list-style-type: none;
}


@media all and (min-width: 850px) {
    /* 
    ███    ██  █████  ██    ██     ██████  ███████ ███████ ██   ██ ████████  ██████  ██████  
    ████   ██ ██   ██ ██    ██     ██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██ 
    ██ ██  ██ ███████ ██    ██     ██   ██ █████   ███████ █████      ██    ██    ██ ██████  
    ██  ██ ██ ██   ██  ██  ██      ██   ██ ██           ██ ██  ██     ██    ██    ██ ██      
    ██   ████ ██   ██   ████       ██████  ███████ ███████ ██   ██    ██     ██████  ██      
    */ 

    header .container .nav-login-bars nav {
        display: block;
        float: left;
        padding: 8px 5px 0px 0px;
        font-size: 18px;
        font-weight: 400;
    }

    .nav-login-bars nav a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 0px 10px 0px 0px;
    }

    .nav-login-bars .login {
        display: block;
        float: right;
        padding: 8px 0px 0px 0px;
        color: inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
    }

    .dropdown {
        display: none;
    }
}