/*
██       ██████   ██████  ██ ███    ██     ██████   ██████  ██   ██ 
██      ██    ██ ██       ██ ████   ██     ██   ██ ██    ██  ██ ██  
██      ██    ██ ██   ███ ██ ██ ██  ██     ██████  ██    ██   ███   
██      ██    ██ ██    ██ ██ ██  ██ ██     ██   ██ ██    ██  ██ ██  
███████  ██████   ██████  ██ ██   ████     ██████   ██████  ██   ██
*/

body {
    background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    width: 100%;
}

main .login .container{
    margin-top:130px;
    text-align: center;
    width:350px;
    border-radius: 15px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

main .login .container h1{
    font-size: 32px;
    padding:22px;
}

main .login .container label{
    font-size: 18px;
    margin-right: 8px;
}

main .login .container p{
    font-size: 12px;
    padding: 10px;
}

main .login .container button{
    width: 90px;
    height: 60px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    background-color: rgb(75, 186, 214);
    border: none;
    margin: 15px;
}

main .login .container input{
    font-size: 18px;
}

main .login .container ul{
    list-style-type: none;
}

main .login .container .firebaseui-error-wrapper{
    display: none;
}

main .login .container .firebaseui-textfield{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

main .login .container .firebaseui-textfield label{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

main .login .container .firebaseui-textfield input{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin:10px;
}

@media all and (min-width: 850px) {

}