/*
██       ██████   ██████  ██ ███    ██     ██████   ██████  ██   ██ 
██      ██    ██ ██       ██ ████   ██     ██   ██ ██    ██  ██ ██  
██      ██    ██ ██   ███ ██ ██ ██  ██     ██████  ██    ██   ███   
██      ██    ██ ██    ██ ██ ██  ██ ██     ██   ██ ██    ██  ██ ██  
███████  ██████   ██████  ██ ██   ████     ██████   ██████  ██   ██
*/

.container {
    width: 100%;
}

main .login .container{
    margin-top:130px;
    text-align: center;
    width:350px;
    border-radius: 15px;
    background-color: rgb(234, 234, 234);
    margin-right: auto;
    margin-left: auto;
}

main .login .container h1{
    font-size: 32px;
    padding:22px;
}

main .login .container label{
    font-size: 18px;
    margin-right: 8px;
}

main .login .container p{
    font-size: 12px;
    padding: 10px;
}

main .login .container button{
    width: 90px;
    height: 60px;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    background-color: rgb(75, 186, 214);
    border: none;
    margin: 15px;
}

main .login .container input{
    font-size: 18px;
}

main .login .container ul{
    list-style-type: none;
}

main .login .container .firebaseui-error-wrapper{
    display: none;
}

main .login .container .firebaseui-textfield{
    display: grid;
    grid-template-columns: 100px 180px;
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

main .login .container .firebaseui-textfield label{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

main .login .container .firebaseui-textfield input{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin:10px;
}

@media all and (min-width: 850px) {
    /* 
    ███    ██  █████  ██    ██     ██████  ███████ ███████ ██   ██ ████████  ██████  ██████  
    ████   ██ ██   ██ ██    ██     ██   ██ ██      ██      ██  ██     ██    ██    ██ ██   ██ 
    ██ ██  ██ ███████ ██    ██     ██   ██ █████   ███████ █████      ██    ██    ██ ██████  
    ██  ██ ██ ██   ██  ██  ██      ██   ██ ██           ██ ██  ██     ██    ██    ██ ██      
    ██   ████ ██   ██   ████       ██████  ███████ ███████ ██   ██    ██     ██████  ██      
    */ 

    header .container .nav-login-bars nav {
        display: block;
        float: left;
        padding: 8px 5px 0px 0px;
        font-size: 18px;
        font-weight: 400;
    }

    .nav-login-bars nav a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 0px 10px 0px 0px;
    }

    .nav-login-bars .login {
        display: block;
        float: right;
        padding: 8px 0px 0px 0px;
        color: inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
    }

    .dropdown {
        display: none;
    }
}