/*
 ██████  ██       ██████  ██████   █████  ██      ███████ 
██       ██      ██    ██ ██   ██ ██   ██ ██      ██      
██   ███ ██      ██    ██ ██████  ███████ ██      ███████ 
██    ██ ██      ██    ██ ██   ██ ██   ██ ██           ██ 
 ██████  ███████  ██████  ██████  ██   ██ ███████ ███████
*/
body {
    background-color: #fff;
    font-family: 'Montserrat';
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #fff;
    color:black;
}

button {
    background-color: #5295ec;
    color: rgb(0, 0, 0);
    font-size: 3.2vw;
    text-align: center;
    padding: 1.5vw 3vw;
    margin: 1vw;
    border: 0;
    border-radius: 15px;
}

h1 {
    color: #3824cc;
    font-size: 10vw;
    text-align: center;
    position: relative;
    display: inline-block;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
} 

#wrapper{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.tabcontent {
    grid-row: 2/3;
    height: 100vh;
    width: 100vw;
}

.tabcontent.is-active, .Pre.is-active{
    transform: translate(0, -9vw);
}

.Auto.is-active{
    transform: translate(-100vw, -9vw);
}

.Teleop.is-active{
    transform: translate(-200vw, -9vw);
}

.Endgame.is-active{
    transform: translate(-300vw, -9vw);
}

.Pre {
    transform: translate(0vw);
}

.Auto {
    transform: translate(-100vw);
}

.Teleop {
    transform: translate(-200vw);
}

.Endgame {
    transform: translate(-300vw);
}

.tabcontent {
    transition: all 0.5s ease 0s;
}

/* 
████████  █████  ██████      ███    ██  █████  ██    ██ 
   ██    ██   ██ ██   ██     ████   ██ ██   ██ ██    ██ 
   ██    ███████ ██████      ██ ██  ██ ███████ ██    ██ 
   ██    ██   ██ ██   ██     ██  ██ ██ ██   ██  ██  ██  
   ██    ██   ██ ██████      ██   ████ ██   ██   ████   
*/

.navBar {
    display: flex;
    grid-row: 1/2;
    width: 100vw;
    height: 7.5vw;
}

.navBar.is-active {
    transform: translate(0px, -7.5vw);
}

.navBar {
    transition: all 0.5s ease 0s;
    background-color:#1D1C1A;
}

.tablink {
    width: 15%;
    font-size: 2vw;
    height: 5.5vw;
    background-color: grey;
    border-radius: 15px;
    border: none;
    color: white;
    padding:1%;
    margin-left:10px;
}

.nextMatch {
    width: 15%;
    font-size: 2vw;
    background-color: #2f4c39;
    border-radius: 15px;
    border: none;
    color: white;
    padding:1%;
    margin-left:10px;
}

.tabExtra {
    width: 15%;
    font-size: 2vw;
    background-color:rgba(255, 255, 255, 0);
    border-radius: 30px;
    border: none;
    color: white;
    padding:1%;
    margin-left:10px;
}

#space {
    width: 10%;
}

.navArrow{
    position: absolute;
}

.arrow {
    z-index: 100;
    position: absolute;
    width:5.75vw;
    margin: 1vw 1.7vw 0vw 0vw;
    padding:0.25vw;
    right: 0;
    top:0;
}

.arrow.is-active{
    transform: rotateZ(-180deg);
    filter: invert(100%);
}

.arrow{
    transition: all 0.4s;
}

/* 
██████  ██████  ███████       ███    ███  █████  ████████  ██████ ██   ██     ██ ███    ██ ███████  ██████  
██   ██ ██   ██ ██            ████  ████ ██   ██    ██    ██      ██   ██     ██ ████   ██ ██      ██    ██ 
██████  ██████  █████   █████ ██ ████ ██ ███████    ██    ██      ███████     ██ ██ ██  ██ █████   ██    ██ 
██      ██   ██ ██            ██  ██  ██ ██   ██    ██    ██      ██   ██     ██ ██  ██ ██ ██      ██    ██ 
██      ██   ██ ███████       ██      ██ ██   ██    ██     ██████ ██   ██     ██ ██   ████ ██       ██████  
*/

.tabcontent .preMatch h2 {
    font-weight: 400;
}
.tabcontent p{
    margin:0;
}

.tabcontent .preMatch .tarmacDiv{
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.tabcontent .preMatch .tarmac {
    height: 33vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(104, 104, 104);
}

.tabcontent .preMatch #startPosIcon{
    font-size: 2vw;
    display: none;
    position: absolute;
}


.tabcontent .preMatch .teamToScoutDiv {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.tabcontent .preMatch .preMatchScoutText {
    margin-top: 3.2vw;
    font-size: 4vw;
}

.tabcontent .preMatch .cargo {
    font-size: 3vw;
}

.tabcontent .preMatch .cargodiv {
    font-size: 4vw;
    padding-top:4.5vw;
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

.tabcontent .preMatch .cargodiv button {
    padding: 1.5vw 3.4vw;
    margin: 2vw 3vw;
}

.tabcontent .preMatch #teamNumber {
    margin-top: 0;
    grid-column: 2 / 4;
    text-align: center;
    font-size: 5vw;
}

.preMatch {
    text-align: center;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 50vw 50vw;
}

.preMatch.is-active {
    margin-top: 2.5vw;
}

/*
 █████  ██    ██ ████████  ██████       █████  ███    ██ ██████      ████████ ███████ ██      ███████ 
██   ██ ██    ██    ██    ██    ██     ██   ██ ████   ██ ██   ██        ██    ██      ██      ██      
███████ ██    ██    ██    ██    ██     ███████ ██ ██  ██ ██   ██        ██    █████   ██      █████   
██   ██ ██    ██    ██    ██    ██     ██   ██ ██  ██ ██ ██   ██        ██    ██      ██      ██      
██   ██  ██████     ██     ██████      ██   ██ ██   ████ ██████         ██    ███████ ███████ ███████ 
Cause they are literally the same lmao    
*/

.tabcontent .autoWrapper,
.tabcontent .teleWrapper {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width:75vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.tabcontent .autoWrapper img,
.tabcontent .teleWrapper img {
    margin-left: auto;
    margin-right: auto;
    width:75vw;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tabcontent .autoWrapper #autoPickupIcon, #autoLowerIcon, #autoUpperIcon, #autoMissIcon{
    position: absolute;
}

.tabcontent .autoWrapper .icons{
    font-size: 1.3vw;
    display: inline-block;
    position: absolute;
}

.tabcontent .teleWrapper .icons{
    font-size: 1.3vw;
    display: inline-block;
    position: absolute;
}

.tabcontent .autoWrapper .autoWarn{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.tabcontent .autoWarn h1{
    font-size: 20vw;
    margin-top:8vw;
    color: rgb(30, 255, 0);
}

/* ======================================== MOVED OFF TARMAC SWITCH ======================================== */

.tabcontent .autoWrapper .switch {
    position: absolute;
    display: inline-block;
    width: 7vw;
    height: 3.5vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    bottom: 0;
    z-index: 100;
}

.tabcontent .autoWrapper .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.tabcontent .autoWrapper .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    background-image: linear-gradient(#FF5047,#FF5047);
    -webkit-transition: .4s;
    transition: .4s;
}

.tabcontent .autoWrapper .slider:before {
    position: absolute;
    content: "";
    height: 2.75vw;
    width: 2.75vw;
    margin-top: 0.345vw;
    left:0.75vw;
    border-radius: 34px;
    background-image: linear-gradient(#cfcfc4,#cfcfc4);
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow:
        0px 0px 13.8px rgba(0, 0, 0, 0.017),
        0px 0px 33.3px rgba(0, 0, 0, 0.024),
        0px 0px 62.6px rgba(0, 0, 0, 0.03),
        0px 0px 111.7px rgba(0, 0, 0, 0.036),
        0px 0px 208.9px rgba(0, 0, 0, 0.043),
        0px 0px 500px rgba(0, 0, 0, 0.06);
}

.tabcontent .autoWrapper input:checked + .slider {
    background-image: linear-gradient(#4f77aa,#4f77aa);
}

.tabcontent .autoWrapper input:focus + .slider {
    box-shadow: 0 0 0px #48ff00;
}

.tabcontent .autoWrapper input:checked + .slider:before {
    -webkit-transform: translateX(2.75vw);
    -ms-transform: translateX(2.75vw);
    transform: translateX(2.75vw);
}

.tabcontent .autoWrapper .undoButton{
    width: 15vw;
    margin-left: auto;
    transform: translate(0vw, -3vw);
}

.tabcontent .teleWrapper .undoButton{
    width: 15vw;
    margin-left: auto;
    transform: translate(0vw, -1.2vw);
}

.autoWrapper.is-active {
    margin-top: 3.8%;
}

.teleWrapper.is-active {
    margin-top: 3.8%;
}



/* ======================================== MOVED OFF TARMAC SWITCH END ======================================== */

/* ======================================== CURRENT CARGO HELD ======================================== */


#currentCargoDiv{
    font-size: 4vw;
    background-color: #FF5047;
    width: 5vw;
    border-radius: 100px;
    position: absolute;
    right:0;
    color: #cfcfc4;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-right: 3vw;
    margin-top: 2vw;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#currentCargo{
    font-size: 3.5vw;
    width: fit-content;
    display: inline-block;
    margin-top:0.3vw;
    margin-bottom: 0.3vw;

}

/* ======================================== CURRENT CARGO HELD END ======================================== */


.teleopDropdown-content,
.autoDropdown-content {
    display: none;
    border-radius: 15px;
    background-color: #48a5fcb6;
    overflow: auto;
    text-align: center;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.651);
    z-index: 1;
    width: 30%;
    position: absolute;
    z-index: 200;
}

.teleopDropdown-content a,
.autoDropdown-content a {
    cursor: pointer;
    color: black;
    padding: 5% 5%;
    font-size: 2.5vw;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

/*
███████ ███    ██ ██████   ██████   █████  ███    ███ ███████ 
██      ████   ██ ██   ██ ██       ██   ██ ████  ████ ██      
█████   ██ ██  ██ ██   ██ ██   ███ ███████ ██ ████ ██ █████   
██      ██  ██ ██ ██   ██ ██    ██ ██   ██ ██  ██  ██ ██      
███████ ██   ████ ██████   ██████  ██   ██ ██      ██ ███████                                                             
*/

.tabcontent .endgameWrapper {
    text-align: center;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.endgameWrapper.is-active {
    margin-top: 2.5vw;
}

.tabcontent .endgameWrapper .attemptClimb {
    font-size: 4vw;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tabcontent .endgameWrapper .playedDefense {
    font-size: 4vw;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.tabcontent .endgameWrapper .cardArea p {
    font-size: 4vw;
}

.tabcontent .endgameWrapper .switch {
    display: inline-block;
    width: 7vw;
    height: 4vw;
    margin-left:auto;
    margin-right:auto;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    bottom: 0;
    z-index: 100;
    margin-left: 2vw;
}

.tabcontent .endgameWrapper .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.tabcontent .endgameWrapper .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: rgb(158, 158, 158);
    -webkit-transition: .4s;
    transition: .4s;
}

.tabcontent .endgameWrapper .slider:before {
    position: absolute;
    content: "";
    height: 2.75vw;
    width: 2.75vw;
    margin-top: 0.625vw;
    left:0.75vw;
    border-radius: 34px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.tabcontent .endgameWrapper input:checked + .slider {
    background-color:red;
}

.tabcontent .endgameWrapper #yellowCard:checked + .slider{
    background-color: yellow;
}

.tabcontent .endgameWrapper input:focus + .slider {
    box-shadow: 0 0 0px #48ff00;
}

.tabcontent .endgameWrapper input:checked + .slider:before {
    -webkit-transform: translateX(2.75vw);
    -ms-transform: translateX(2.75vw);
    transform: translateX(2.75vw);
}

.tabcontent .endgameWrapper .climbSelect {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.tabcontent .endgameWrapper #climbSelectBox{
    filter:blur(5px) grayscale(100%); 
}

.tabcontent .endgameWrapper #climbSelectCover{
    z-index: 9999;
}

.tabcontent .endgameWrapper .climbSelect .climbHighlights{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width:28.5vw;
    height:35vw;
    margin-top: 2vw;
    margin-left: 2vw;
}

.tabcontent .endgameWrapper .climbSelect .climbHighlights .barHighlighter{
    width:28.5vw;
    height:1vw;
    background-color:#2bc43300;
    margin-left:1vw;
}

.tabcontent .endgameWrapper .climbSelect .climbHighlights #traversalDiv{
    transform: translate(0,10.3vw);
}

.tabcontent .endgameWrapper .climbSelect .climbHighlights #highDiv{
    transform: translate(0,15.5vw);
}

.tabcontent .endgameWrapper .climbSelect .climbHighlights #midDiv{
    transform: translate(0,20.7vw);
}

.tabcontent .endgameWrapper .climbSelect .climbHighlights #lowDiv{
    transform: translate(0,30.5vw);
}

.tabcontent .endgameWrapper .climbSelect img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 35vw;
    margin-top: 2vw;
    margin-left: 2vw;
}

.tabcontent .endgameWrapper .climbSelect .buttonWrapper {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height:40vw;
}

.tabcontent .endgameWrapper .climbSelect .buttonWrapper button {
    width:15vw;
    font-size: 2vw;
}

/*=================Endgame end=================*/

.switch {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

/*===========================Offline Mode======================*/

.offlineMode{
    font-size: 4vw;
    margin-top: 5vw;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.offlineMode input{
    font-size: 2vw;
}

#qrcode{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #858585;
    padding:20px;
}

.offlineResetBtn{
    border-radius: 0;
    background-color: #ff281d;
    padding:1vw;
    font-size: 2.3vw;
    float:right;
}

@media (prefers-color-scheme: dark){
    body, html{
        background-color: black;
        color:white;
    }
    .arrow.is-active{
        filter: invert(0%);
    }
}
