/*  ---------------- defaults ------------------- */

body,
html {
    height: 100%;
    margin: 0;
    overflow-x:hidden;
}

button {
    background-color: #782656;
    color: #fff;
    border-radius: 1em;
    font-size: 2em;
    text-align: center;
    border: 0%;
    border-style: outset;
}

h1 {
    color: #3824cc;
    font-size: 10vmin;
    text-align: center;
    position: relative;
    display: inline-block;
}

h3 {
    background-color: #E45D38;
    font-size: 2.5vw;
    position: relative;
    display: inline-block;
    margin: 0%;
    padding: 0.7em;
    color: white;
    border-radius: 1em;
    border-style: outset;
    border-color: #782656;
    border-width: 2px;
}

#wrapper{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.tabcontent {
    grid-row: 2/3;
    color: white;
    height: 100vh;
    width: 100vw;
}

.tabcontent.is-active, .Pre.is-active{
    transform: translate(0, -6.5vw);
}
.Auto.is-active{
    transform: translate(-100vw, -6.5vw);
}
.Teleop.is-active{
    transform: translate(-200vw, -6.5vw);
}
.Endgame.is-active{
    transform: translate(-300vw, -6.5vw);
}
.Post.is-active{
    transform: translate(-400vw, -6.5vw);
}

.Pre{
    transform: translate(0vw);
}

.Auto{
    transform: translate(-100vw);
}

.Teleop{
    transform: translate(-200vw);
}

.Endgame{
    transform: translate(-300vw);
}

.Post{
    transform: translate(-400vw);
}


.tabcontent{
    transition: all 0.5s ease 0s;
}

/* -------------------- For nav bar ------------------- */

.navBar{
    display:flex;
    grid-row: 1/2;
    width:100vw;
}

.navBar.is-active{
    transform: translate(0px, -6.5vw);
}

.navBar{
    transition: all 0.5s ease 0s;
}

.tablink {
    width: 16.66666%;
    font-size: 2vw;
    background-color: #3E3E3E;
    border-radius: 0;
    border: none;
    color: white;
    padding:1%;
    margin:0;
}

#space{
    width:6%;
}

.navArrow{
    position: absolute;
}

.arrow {
    z-index: 100;
    position: absolute;
    width:5.75vw;
    padding-right:1vw;
    padding-top:1vw;
    right: 0;
    top:0;
}

.arrow.is-active{
    transform: rotateZ(-180deg);
}

.arrow{
    transition: all 0.4s;
}

/* ----------------------FOR PRE MATCH INFO-----------------------*/

.preMatch{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.scouterName h2 {
    display: inline-block;
    grid-column: 1 / 2;
}

.scouterName input {
    font-size: 2vw;
    margin-left:auto;
    margin-right:auto;
}

.preMatch h2 {
    font-size: 3.5vw;
    padding: 0;
    margin: 0;
}

.robotRadio {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    font-size: 4.5vw;
}

.preMatchInfo {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    font-size: 2.8vw;
    text-align: center;
}

.matchNumber {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: center;
    padding: 1vh;
}


/*----------------------FOR AUTO --------------------------------*/

.autoWrapper{
    display:grid;
    grid-template-columns: 70vw auto;
    grid-template-rows: auto;
}

.autoWrapper img{
    width:90%;
}

.autoInteraction {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    text-align: center;
}
.autoInteraction button{
    padding:1em;
    width:100%;
    font-size: 3.2vw;
}

.autoDropdown:hover,
.autoDropdown:focus {
    background-color: #E45D38;
}

.teleopDropdown-content,
.autoDropdown-content {
    display: none;
    position: absolute;
    background-color: #E45D38;
    overflow: auto;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.651);
    z-index: 1;
    left: 20%;
    top: 10%;
    width: 30%;
}

.teleopDropdown-content a,
.autoDropdown-content a {
    color: black;
    padding: 5% 5%;
    font-size: 150%;
    text-decoration: none;
    display: block;
}

/* -------------------------- FOR TELE ----------------------- */

.teleWrapper{
    display:grid;
    grid-template-columns: 70vw auto;
    grid-template-rows: auto;

}

.teleWrapper img{
    width:100%;
}

.teleInteraction {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    text-align: center;
}

.teleInteraction button{
    padding:1em;
    width:100%;
    font-size: 2.5vw;
}

.teleopDropdown:hover,
.teleopDropdown:focus {
    background-color: #E45D38;
}


/* ------------------- FOR POST MATCH INFO ----------------------- */

.postMatchInfo {
    font-size: 3.5vw;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

.nextMatch {
    font-size:1.5vw;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-left: auto;
    margin-right:0;
}

.nextMatch button{
    padding: 2vw;
}

.cardsInfo {
    text-align: center;
    font-size:4vw;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.switch {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: red;
}

#yellowCard input:checked+.slider {
    background-color: yellow;
}




input[type=radio] {
    border: 0%;
    width: 0.5em;
    height: 0.5em;
    font-size: 100%;
}





#Auto {
    background-color: black;
}

#Pre {
    background-color: black;
}

#Teleop {
    background-color: black;
}

#Endgame {
    background-color: black;
}

#Post {
    background-color: black;
}
