/*
 ██████  ██       ██████  ██████   █████  ██      ███████ 
██       ██      ██    ██ ██   ██ ██   ██ ██      ██      
██   ███ ██      ██    ██ ██████  ███████ ██      ███████ 
██    ██ ██      ██    ██ ██   ██ ██   ██ ██           ██ 
 ██████  ███████  ██████  ██████  ██   ██ ███████ ███████
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
}

.bodyWrapper{
    overflow-x: hidden;
    position: relative;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    width: 100%;
    z-index: 200;
}

header .container {
    padding: 32px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}

header .container h2 {
    color: inherit;
    font-size: 32px;
    font-weight: 400;
    cursor:pointer;
}

header .container nav {
    display: none;
}

/*
███    ██  █████  ██    ██     ███    ███  ██████  ██████  ██ ██      ███████ 
████   ██ ██   ██ ██    ██     ████  ████ ██    ██ ██   ██ ██ ██      ██      
██ ██  ██ ███████ ██    ██     ██ ████ ██ ██    ██ ██████  ██ ██      █████   
██  ██ ██ ██   ██  ██  ██      ██  ██  ██ ██    ██ ██   ██ ██ ██      ██      
██   ████ ██   ██   ████       ██      ██  ██████  ██████  ██ ███████ ███████
*/

.dropdown {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.dropdown .bars, .dropdown::before, .dropdown::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0px;
    transition: all 0.4s ease 0s;
}

.dropdown.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.dropdown.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.dropdown.is-active .bars {
    opacity: 0;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 170;
    background-color: rgba(168, 168, 168, 0.267);
    padding: 100px 0px 0px 0px;
    transition: all 0.4s ease 0s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.nav-mobile a {
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0px auto 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: rgba(28, 157, 218, 1);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-mobile .login {
    background-color: rgba(111, 111, 111, 0);
}

.nav-mobile.is-active {
    left: 0;
}

.nav-login-bars .login {
    float: left;
    padding: 8px 20px 0px 0px;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.nav-mobile .login-mobile {
    font-size: 18px;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0px auto 16px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 6px;
    background-color: rgba(111, 111, 111, 0);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*
███    ███  ██████  ██████   █████  ██          ██████  ██    ██ ████████ ████████  ██████  ███    ██ 
████  ████ ██    ██ ██   ██ ██   ██ ██          ██   ██ ██    ██    ██       ██    ██    ██ ████   ██ 
██ ████ ██ ██    ██ ██   ██ ███████ ██          ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██ 
██  ██  ██ ██    ██ ██   ██ ██   ██ ██          ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██ 
██      ██  ██████  ██████  ██   ██ ███████     ██████   ██████     ██       ██     ██████  ██   ████
*/

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .page-name h1 {
    padding: 15vh 0px 5vh 0px;
}

main .container .basic-stats {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 16px;
    width: 70vw;
    height: 55px;
    overflow-y: hidden;
    margin-bottom: 20px;
}

main .container .basic-stats .title {
    height: 55px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .72em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);;
}

main .container .basic-stats .title i {
    font-size: 2em;
    padding-right: 6px;
}

.active {
    height: 50vh !important;
}

/*
main section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .base .container {
    width: 82vw;
    z-index: 71;
}

main section .container .modal-button-group {
    background-color: rgb(170, 170, 170);
    height: 500px;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    z-index: 70;
}

main section .container .modal-button{
    padding: 15px 10px;
    cursor:pointer;
}

main section .button-container {
    text-align: center;
    margin-top: 15px;
}

main section .button-container button {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 600;
    height: 50px;
    width: 60vw;
}

main .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transform: translate(0, calc(100vh));
}

main .modal-container .modal {
    position: fixed;
    width: 82vw;
    z-index: 98;
    color: #fff;
    border-radius: 6px;
    padding: 30px 30px;
    height: 500px;
    background-color: #1c9dda;
    text-align: center;
}

main .modal-container .modal-1 h1 {
    padding: 10px 0px;
}

main .modal-container .modal-1 .questions {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 20px;
    gap: 20px;
    font-size: 24px;
}

main .modal-container .modal-1 .team-num {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

main .modal-container .modal-1 textarea {
    resize: none;
    width: 130px;
    height: 30px;
}

main .modal-container .modal-1 .team-num-area {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

main .modal-container .modal-1 .bot-weight-area {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 130px;
}



main .modal-container .modal.is-open {
    transform: translate(0, calc(100vh + 60px));
}

main .modal-container .modal {
    transition: all .45s;
}

*/



